* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: block;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

header p {
    font-size: 15px;
}

body {
    background-color: #e7e7e7;
    padding-top: 100px;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #e7e7e7;
    border: none;
    border-bottom: solid 1px black;
    padding: 8px;
    min-width: 120px;
    /*flex: 1;
    margin-right: 50px;*/
}

input:focus {
    outline: none;
}

form button {
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;

}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.emoji {
    font-size: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}

.aprovado {
    background-color: #009432;
}

.reprovado {
    background-color: red;
}